<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
    <h2>Our  Partners/ Our Clients</h2>
       <section class="customer-logos slider">
          <div class="slide"><img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg"></div>
          <div class="slide"><img src="http://www.webcoderskull.com/img/logo.png"></div>
          <div class="slide"><img src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg"></div>
          <div class="slide"><img src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg"></div>
          <div class="slide"><img src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg"></div>
          <div class="slide"><img src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></div>
          <div class="slide"><img src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg"></div>
          <div class="slide"><img src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg"></div>
          <div class="slide"><img src="https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg"></div>
       </section>
        
        <sction>
            <div id="container" class="container">            
                <div class="form">
                    <h3>Preview form data using jQuery</h3>
                    <fieldset>
                        <legend>Form Fields</legend>
                        <form method="post" action="" id="form">
                            <p>
                                <label for="text">Text Field</label><br/>
                                <input type="text" name="text" id="text"/>
                            </p>
                            <p>
                                <label for="radio">Radio Field</label><br/>
                                <input type="radio" name="radio" value="1">Yes</input>
                                <input type="radio" name="radio" value="0">No</input>
                            </p>
                            <p>
                                <label for="checkbox">Check Field</label><br/>
                                <input type="checkbox" name="checkbox" value="1">Item 1</input>
                                <input type="checkbox" name="checkbox" value="2">Item 2</input>
                                <input type="checkbox" name="checkbox" value="3">Item 3</input>
                                <input type="checkbox" name="checkbox" value="4">Item 4</input>
                            </p>
                            <p>
                                <label for="optionval">Option Field</label><br/>
                                <select name="optionval" id="optionval">
                                    <option value="">-- Select Option --</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                </select>
                            </p>
                            <p>
                                <label for="textarea">Textarea Field</label><br/>
                                <textarea name="textarea" id="textarea" rows="8" cols="40"></textarea>
                            </p>
                            <p>
                                <input type="submit" name="submit" id="submit" value="Submit"/>
                                <input type="reset" name="reset" value="Reset"/>
                            </p>
                        <form>
                    </fieldset>
                </div>
                <div id="preview_data" title="Preview Form Data" style="display:none;"></div>
            </div>
        </sction>
   
    <h2><a href="http://www.webcoderskull.com" target="_blank">http://www.webcoderskull.com</a></h2>
    </div>
	<script src="client.js"></script>
  </body>
</html>